extends /templates/default

block header
  +header
    .header-item.page-title 
      span= entry.title
      

block content
  .content-body
    section
      .section-body
        .journal-markup!= markdown(entry.body)
      .section-footer
        .flex.right
          span — #[a(href=character.url)= character.name] #{entry.updatedAt.toLocaleString()}
    +section('Actions')
      .flex.center.pad(data-pad="1em")
        a.btn(href=character.url+"/journal/"+entry.id data-response="modal") Edit Entry
        form(action=character.url+"/journal/"+entry.id method="delete" data-response="modal")
          button.btn Delete Entry
      
