mixin navlink(options)
  case options.button
    when true
      li
        form(action=options.url method="post")&attributes(attributes)
          block if block
          button(type="submit")= options.text
    default
      li(style=options.color ? {color: options.color} :"")
        block if block
        a(href=options.url)&attributes(attributes)= options.text
        
mixin dropdown(options)
  if !block
    -attributes.class = "disabled"
  li.dropdown(data-target=options.id style=options.color ? {color: options.color} :"")&attributes(attributes)
    a.toggle(href="#")= options.text
    ul.dropdown-menu(id=options.id)
      block
  
nav#nav
  ul.navlinks
    +navlink({url:"/", text: "Home"})
    
    if currentUser
      
      //- CHARACTER MENU
      if !currentUser.activeChar
        +dropdown({id:'charselect',text:"Character"})
          +navlink({url:'/pc', text: 'Select Character'})
          +navlink({url:'/pc/create', text: 'Create a Character'})
        +dropdown({id:'campaignmenu',text:"Campaign"})
          +navlink({url:'/c', text: 'Find Campaign'})
          +navlink({url:'/c/new', text: 'Create Campaign'})(data-response="modal")
      else
        +dropdown({id:'charactermenu', text: currentUser.activeChar.getName('first')})
          +navlink({url: "/u/"+currentUser.username+"/pc", text:'Switch'})(data-response="modal" data-target="switch-character")
          +navlink({url: "/"+currentUser.activeChar.url, text:'Status'})
          +navlink({url: "/"+currentUser.activeChar.url + 'inventory',text:'Inventory'})
          +navlink({url: "/"+currentUser.activeChar.url + 'journal',text:'Journal'})
          
        //- CAMPAIGN MENU
        if !currentUser.activeChar.Campaign
          +navlink({url: '/c/', text:'Find Campaign'})
        else
          +dropdown({id: 'campaignmenu', text: 'Campaign'})
            +navlink({url: currentUser.activeChar.Campaign.url, text:'Home'})
            +navlink({url: currentUser.activeChar.Campaign.url+'quests',text:'Quests'})
            +navlink({url: currentUser.activeChar.Campaign.url+'locations',text:'Locations'})
        
            if !currentUser.activeChar.party
              +navlink({url: currentUser.activeChar.Campaign.url + 'factions', text:'Join Party'})
      
      
      +dropdown({id: 'accountmenu', text: 'Account'})
        +navlink({url:'/u/'+currentUser.username, text: 'Profile'})
        +navlink({url:'/settings', text: 'Settings'})
        +navlink({url:'/logout', text: 'Log Out'})
        +navlink({url:'/settings/theme', text: 'Theme'})(data-response="modal" data-target="theme-modal")
    else
      +navlink({url:'/about',text:'About'})
      +dropdown({id: 'account', text:'Log In / Sign Up'})(class="signup")
        +navlink({url:'/login', text: 'Log In'})(data-response="modal" data-target="login")
        +navlink({url:'/signup', text: 'Sign Up'})(data-response="modal" data-target="signup")
