mixin navlink(options)
  case options.button
    when true
      li
        form(action=options.url method="post")
          block if block
          button(type="submit")= options.text
    default
      li(style=options.color ? {color: options.color} :"")&attributes(attributes)
        block if block
        a(href=options.url)= options.text
        
mixin dropdown(options)
  li.dropdown(data-target=options.id style=options.color ? {color: options.color} :"")
    a(href="#")= options.text
    ul.dropdown-menu(id=options.id)
      block
  
nav#nav
  ul.navlinks
    +navlink({url:'/',text:'Home'})
    +filter(user)
      +filter(!user.mainChar)
        +navlink({url:'user/' + user.id + '/characters', text: 'Select Character'})
      +filter(user.mainChar)
        +dropdown({id:'charactermenu', text: mainChar.name})
          +navlink({url:'/pc/' + user.mainChar.id,text:'Character Sheet'})
          +navlink({url:'/pc/'+ user.mainChar.id + '/inventory',text:'Inventory'})
          +navlink({url:'/pc/' + + user.mainChar.id + '/journal',text:'Journal'})
      +filter(!campaign)
        +navlink({url: '/pc/new', text:'New Campaign'})
      +filter(campaign)
        +dropdown({id: 'campaignmenu', text: 'Campaign'})
          +navlink({url:'/algus/quests',text:'Quest'})
          +navlink({url:'/algus/maps',text:'Maps'})
      +filter(!party)
        +navlink({url: '/pc/new', text:'New Character'})
      +filter(party)
        +dropdown({id:'partymenu', text: 'Party'})
          each member in party
            +navlink({url:'/pc/' + member.id, text: member.name})
      +dropdown({id: 'accountmenu', text: 'Account'})
        +navlink({url:'/account', text: 'Settings'})
    +filter(!user)
      +navlink({url:'/signup', text: 'Sign Up'})
