mixin navlink(options)
  case options.button
    when true
      li
        form(action=options.url method="post")
          block if block
          button(type="submit")= options.text
    default
      li(style=options.color ? {color: options.color} :"")&attributes(attributes)
        block if block
        a(href=options.url)= options.text
        
mixin dropdown(options)
  if !block
    -attributes.class = "disabled"
  li.dropdown(data-target=options.id style=options.color ? {color: options.color} :"")&attributes(attributes)
    a.toggle(href="#")= options.text
    ul.dropdown-menu(id=options.id)
      block
  
nav#nav
  ul.navlinks
    +navlink({url:"/", text: "Home"})
    
    +filter(user)
    
      //- Character Menu
      +filter(!user.mainChar)
        +dropdown({id:'charselect',text:"Character"})
          +navlink({url:'/pc', text: 'Select Character'})
          +navlink({url:'/pc/new', text: 'Create a Character'})
      +filter(user.mainChar)
        +dropdown({id:'charactermenu', text: user.mainChar.name})
          +navlink({url:'/pc/' + user.mainChar.id,text:'Status'})
          +navlink({url:'/pc/'+ user.mainChar.id + '/inventory',text:'Inventory'})
          +navlink({url:'/pc/' + + user.mainChar.id + '/journal',text:'Journal'})
          
      //- Campaign Menu
      +filter(user.mainChar && !campaign)
        +navlink({url: '/pc/new', text:'Join Campaign'})
      +filter(campaign)
        +dropdown({id: 'campaignmenu', text: 'Campaign'})
          +navlink({url:'/c/'+campaign.id+'/quests',text:'Quest'})
          +navlink({url:'/c/'+campaign.id+'/maps',text:'Maps'})
          
      //- Party Menu
      +filter(user.mainChar && campaign && !party)
        +navlink({url: '/p', text:'Join Party'})
      +filter(party)
        +dropdown({id:'partymenu', text: 'Party'})
          each member in party
            +navlink({url:'/pc/' + member.id, text: member.name})
            
      +dropdown({id: 'accountmenu', text: 'Account'})
        +navlink({url:'/u/settings', text: 'Settings'})
        +navlink({url:'/u/logout', text: 'Log Out'})
    +filter(!user)
      +navlink({url:'/about',text:'About'})
      +dropdown({id: 'account', text:'Log In / Sign Up'})(class="signup")
        +navlink({url:'/u/login', text: 'Log In'})(data-modal='/u/_login')
        +navlink({url:'/u/signup', text: 'Sign Up'})(data-modal='/u/_signup')
    +filter(user)
      
