
mixin propTable(input, level)
  -level = level || 0
  if Array.isArray(input)
    each i in input
      +propTable(i, level+1)
  else if typeof input == 'object'
    table
      each value,key in input
        tr
          if level == 0
            th= key
          else
            td= key
          td
            +propTable(value, level+1)
  else
    span= input


.modal-content&attributes({class:THEME})
  .modal-title= item.name
  .modal-body
    each lore in item.lore
      if lore.hidden
        div ???
      else
        div= lore.content
    hr
    .flex.distribute
      if item.properties
        +propTable(item.properties)
  .modal-footer
      
    form(method="post" data-response="json").flex.center.pad
      a.btn(href=character.url +"inventory/" + item.id + "/edit" data-click="modal" data-target="item-" + item.id + "-edit") Edit
      input(type="hidden" name="item.$.id" value=item.id)
      input(type="hidden" name="item.$.quantity" value=item.quantity)

      if currentUser && currentUser.MainChar 
        if currentUser.MainChar.id == item.CharacterId
          button.btn(formaction=character.url +"inventory/drop" ) Drop
          button.btn(formaction=character.url +"inventory/" formmethod="delete" ) Destroy
        else if !item.CharacterId
          button.btn(formaction=character.url +"inventory/give" ) Take
