form(name='lore' action=base method='post' data-response=lore?"replace":"json" data-target=lore?"lore-"+lore.id:false data-reaction="redirect")
  .flex.vert.center.pad
    .flex.vert.center
      label Content
      textarea.form-input(type='text' name='content' rows=10 cols=50)= lore?lore.content:''
    .flex.vert.center
      label.checkbox
        input.form-input(type="checkbox" name="obscure" checked=lore&&lore.obscure)
        span Obscure?
  .modal-footer
      button.btn.block(type='submit')= lore ? 'Update Lore' : 'Add Lore'
