if !lore
  .lore-container.flex.row
    .lore-content.grow: label Removed
else
  .lore-container.flex.row(id="lore-"+lore.id class=lore.hidden?'obscured':'')
    if lore.hidden
      .lore-content.grow: label Obscurity: #{lore.obscurity}
      .flex.vert.pad.no-size
        if lore.owned
          form(action=(base+"/learn") method="post" data-response="replace" data-target="lore-"+lore.id)
            button.close(title="Learn"): i.fa.fa-book
    else
      .lore-content.grow= lore.content
      .flex.vert.pad.no-size
        if lore.owned
          form(action=base method="delete" data-response="replace" data-target="lore-"+lore.id)
            button.close(title="Delete Lore")
          a.close(href=base+"/edit" data-response="modal" data-target="edit-lore-"+lore.id): i.fa.fa-wrench
        a.close(href=base+"/teach" data-response="modal" data-target="teach-lore-"+lore.id title="Teach"): i.fa.fa-commenting
