//- Item Fields
.flex.vert.pad
  .flex.vert.border.pad
    .flex.center: label: strong Pathfinder
    .flex.center.pad.fill
      .flex.vert
        label Caster Level
        input.form-input(type="number" name="properties.cl" value=Common.utilities.get(item, 'properties.cl') min=0)
      .flex.vert
        label Max HP
        input.form-input(type="number" name="properties.hpMax" value=Common.utilities.get(item, 'properties.hpMax') min=0)
      .flex.vert
        label Aura
        select.form-input(type="number" name="properties.aura")
          option(disabled selected) —
          each aura in Item.auras
            option(value=aura selected=Common.utilities.get(item, 'properties.aura')==aura)= aura
      .flex.vert
        label Slot
        select.form-input(type="number" name="properties.slot")
          option(selected disabled) —
          each slot in Item.slots
            option(value=slot selected=Common.utilities.get(item, 'properties.slot')==slot)= slot
      .flex.vert
        label Hands
        select.form-input(type="number" name="properties.hands" value=Common.utilities.get(item, 'properties.hpMax'))
          option(value="") Any
          option(value=1) One-handed Only
          option(value=2) Two-handed Only
          option(value=0) Impossible to Carry
    .flex.vert.fill.pad
      mixin ability(ability)
        .flex.pad.fill.pathfinder_bonus
          .flex.vert.center.no-size
            a.close(data-click="remove" data-target=".pathfinder_bonus")
          .flex.vert
            input.form-input(type="text" name="properties.abilities.$.description" value=ability.description)
      mixin bonus(bonus)
        .flex.pad.fill.pathfinder_bonus
          .flex.vert.center.no-size
            a.close(data-click="remove" data-target=".pathfinder_bonus")
          .flex.vert
            input.form-input(type="number" name="properties.bonuses.$.bonus" value=bonus.bonus)
          .flex.vert
            select.form-input(name="properties.bonuses.$.type")
              option(disabled selected) —
              each type in Quantifiable.bonus.types
                option(value=type selected=bonus.type==type)= type
          .flex.vert.center.no-size to
          .flex.vert
            select.form-input(name="properties.bonuses.$.key")
              option(disabled selected) —
              each key in Quantifiable.list.keys
                option(value=key selected=bonus.key==key)= Quantifiable.list.get(key).label
      .flex.vert.border
        .flex.center.distribute.pad
          label Bonuses
          a.btn(data-click='duplicate' data-target="bonus_template" data-destination="pathfinder_bonuses") New Bonus
        #pathfinder_bonuses.flex.vert.fill
          template#bonus_template
            +bonus({bonus:null})
          if Common.utilities.get(item, 'properties.bonuses')
            each bonus in Common.utilities.get(item, 'properties.bonuses')
              +bonus(bonus)
      .flex.vert.border
        .flex.center.distribute.pad
          label Abilities
          a.btn(data-click='duplicate' data-target="ability_template" data-destination="pathfinder_abilities") New Ability
        #pathfinder_abilities.flex.vert.fill
          template#ability_template
            +ability({description:null})
          if Common.utilities.get(item, 'properties.abilities')
            each ability in Common.utilities.get(item, 'properties.abilities')
              +ability(ability)
      
