mixin characterCard(character)
  .character-card-container
    a.character-card.grid(href="/pc/"+character.id)
      .character-portrait
        if character.portrait
          img(src=character.portrait.src)
      .character-stats
        .name(href="/pc/"+character.id)= character.name
        .bar
          .hilt HP
          .data-bar.red
            .value(data-display='bar' data-max=100 data-value=character.hp||0)
              span=character.hp||0
        .bar
          .hilt XP
          .data-bar.gold
            .value(data-display='bar' data-max=100 data-value=character.hp||0)
              span=character.xp||0
