//- this module lets you get all the comment functionality
mixin comments(url)
	-var hash = Common.hashString(url)
	.comment-area(id='comment-'+Math.abs(hash) href=url data-visible="load")
	.flex.center.pad
		a.btn(href=url+"/new" data-response="modal" data-target="quest-"+quest.id+"-comment") Add Comment

mixin newComment(action)
	form.add-comment(action=(action||'comment') method="post" data-response="json" data-reaction="redirect")
		textarea.form-input(name="body")
		.flex.center.pad
			a.btn(href=(action||'comment') data-response="modal") Add Comment
				
mixin comment(comment,parent)
	.comments-section(id=comment?"comment-"+comment.id:false)
		if (!comment || comment.archived)
			.comment-container
					.comment-body: label Removed
		else
			.comment-container
				.comment-header.flex
					.flex.grow
						if comment.Character
							label: a(href=campaign.url + comment.Character.url)= comment.Character.name
						else if comment.User
							label= comment.User.username
						else
							label ???
						if parent && !parent.archived && parent.Character
							label(style="margin-left:0.5rem") (to #[a(href=campaign.url + parent.Character.url)= parent.Character.getName('first')])
					.flex.no-size.je
						.timestamp= comment.updatedAt.toLocaleString()
				.comment-body!= markdown(comment.body)
				.comment-footer
					.flex.je
						if (comment.Character && comment.Character.isActiveChar(currentUser)) || (comment.User && comment.User.id == currentUser.id)
							a(href='/comment/'+comment.id+'/edit' data-response="modal") Edit
							form(action='/comment/'+comment.id method='delete' data-response="replace" data-target="comment-"+comment.id)
								button.as-link(role="button" type="submit") Delete
						a(href='/comment/'+comment.id+'/comment/new' data-response="modal" data-target="comment-"+comment.id+"-comment") Reply
		if comment && comment.comments && comment.comments.length > 0
			each child in comment.comments
				+comment(child, comment)
		//- +newComment('/comment/'+comment.id+'/comment','comment-'+comment.id)
		//- TODO make nested comments not ugly
	
