mixin quest(quest, shallow)
  .flex.vert.as
    .flex.center.pad
      -var n = quest.hierarchyLevel
      while n --> 1
        .spacer(style="width:10px")= n
      a.btn(href="/"+campaign.url+"quests/"+quest.id disabled=shallow)= quest.name
    if quest.children && quest.children.length > 0 && !shallow
      each subquest in quest.children
        +quest(subquest)
  //-
    .section-title
      a(href='quests/'+quest.id)= quest.name
    .section-body
      .journal-markup!= markdown(quest.description)
    .section-body
      if quest.subQuests.length > 0
        .flex.pad
          each subquest in quest.subQuests
            .flex.pad
              .flex.center: a(href=campaign.url+'/quests/'+subquest.id)= subquest.name
