mixin quest(quest, collapsed)
  .quest-container(class=!quest.visible&&campaign.owned?'obscured ':'' + (collapsed?'collapsed ':'') + quest.status data-ref=quest.id data-kind="Quest")
    .quest.flex.fill
      a.flex.pad.quest-link(href=campaign.url+"quests/"+quest.id disabled=!quest.visible&&!campaign.owned tabindex=1)
        if !(quest.visible || campaign.owned)
          div ???
        else 
          div= quest.name
        if quest.status
          .tag= quest.status
        if !quest.visible && campaign.owned
          .tag.grey unpublished
        if quest.comments && quest.comments.length > 0
          div (#{quest.comments.length} comments)
        .timestamp.je.grow= quest.updatedAt.toLocaleDateString()
      .flex.pad.center.no-size
        if quest.children && quest.children.length > 0
          .flex.no-size.collapse-handle(data-click="collapse" data-target=".quest-container")
        a.close(href=campaign.url+"quests/"+quest.id+"/edit" data-response="modal" title="Edit Quest") ?
        a.close(href=campaign.url+"quests/"+quest.id+"/add" data-response="modal" title="Add Subquest") +
        form.no-size.flex.vert.fill(action=campaign.url+"quests/"+quest.id method="delete" data-response="json" data-reaction="remove")
          button.close(title="Delete Quest")
            
    if quest.children && quest.children.length > 0
      each subquest in quest.children
        +quest(subquest,false)
    block
    
//-
  .section-title
    a(href='quests/'+quest.id)= quest.name
  .section-body
    .journal-markup!= markdown(quest.description)
  .section-body
    if quest.subQuests.length > 0
      .flex.pad
        each subquest in quest.subQuests
          .flex.pad
            .flex.center: a(href=campaign.url+'/quests/'+subquest.id)= subquest.name
