extends /layout

block title
  title= quest.name
  
block header
  +header
    .header-item.page-title 
      span= quest.name

block content
  .content-body
    if campaign.owned
      section
        .section-body
          .flex.center.pad
            a.btn(href=quest.id+'/add' data-response="modal") Add Subquest
            a.btn(href=quest.id+"/edit" data-response="modal") Edit Quest
            a.btn(href=quest.id+"/link" data-response="modal") Link Quest
            form(action=quest.id method="delete" data-response="json" data-reaction="redirect")
              button.btn Delete Quest
    if quest.description
      section
        .section-body
          .journal-markup!= markdown(quest.description)
    if quest.comments
      section
        .section-title comments
        .section-body
          .flex.vert.pad
            each comment in quest.comments
              .flex.vert
                .flex-no-size
                  .float.left
                  .float.right= comment.updatedAt
                .flex
                  .flex.no-size
                    //- profile photo
                  .flex.grow
    section
      .section-body
        .flex.fill
          if parentQuests && parentQuests.length > 0
            .flex.pad.vert
              .flex.center: label Parent Quests
              .flex.center
                each parent in parentQuests
                  +quest(parent)
          if childQuests && childQuests.length > 0
            .flex.pad.vert
              .flex.center: label Subquests
              .flex.center
                each child in childQuests
                  +quest(child)
