extends /layout

block title
  title= quest.name
  
block header
  +header
    .header-item.page-title 
      span= quest.name

block content
  .content-body
    if campaign.owned
      section
        .section-body
          .flex.center.pad
            a.btn(href=quest.id+'/add' data-response="modal") Add Subquest
            a.btn(href=quest.id+"/edit" data-response="modal") Edit Quest
            a.btn(href=quest.id+"/link" data-response="modal") Link Quest
            form(action=quest.id method="delete" data-response="json" data-reaction="redirect")
              button.btn Delete Quest
    if quest.description
      section
        .section-body
          .journal-markup!= markdown(quest.description)
    if comments
      section
        .section-title Comments
        .section-body
          if comments.length < 1
            .flex.center
              label: i Be the first to comment on this quest
          else
            .flex.vert.pad
              each comment in comments
                .flex.vert
                  .flex-no-size
                    .float.left
                    .float.right= comment.updatedAt
                  .flex
                    .flex.no-size
                      //- profile photo
                    .flex.grow
        .section-footer
          .flex.pad.center
            a.btn(href=quest.id+"/comment" data-response="modal" data-target="comment-"+quest.id) Add Comment
    section
      .section-body
        .flex.fill
          if quest.ancestors && quest.ancestors.length > 0
            div
              label Parent Quests
              each ancestor in quest.ancestors
                +quest(ancestor)
          if quest.children && quest.children.length > 0
            div
              label Subquests
              each child in quest.children
                +quest(child)
