form(method="post" data-response="json" data-reaction="redirect").flex.pad.js.as
  if !items || items.length == 0
    .flex.center: label No Items
  else
    each item in items
      a.item-tile.flex.vert.center.text-center.no-link(href="inventory/"+item.id data-response="modal" data-target="item-"+item.id data-rarity=item.rarity tabindex=2 data-ref=item.id data-kind="Item")
        div
          | #{item.name} 
          if item.quantity > 1
            | x#{item.quantity}
        if item.icon
          i.ra.ra-3x(class=item.icon)
        div #{Number(item.weight * item.quantity).toFixed(1)} #{activeSystem.terms.WEIGHT}
        div #{Number(item.value * item.quantity)} #{activeSystem.terms.CURRENCY}
