extends /layout

block title
  title #{character.getName('first')}'s Inventory
  
block header
  +header
    .header-item.page-title 
      span #{character.getName('first')}'s Inventory

block content
  .content-body
    section
      .section-body
        .flex.center
          if character.isActiveChar(currentUser)
            a.btn(href="inventory/new" data-response="modal") New Item
          else
            a.btn(href="inventory/give" data-response="modal" data-target="give-"+character.id) Give Item
    section
      .section-body
        .flex.vert
            form(action="inventory" method="delete" data-response="json" data-reaction="reload")
              .scroll.x(class=THEME!='journal'?'paper':'')
                table.table
                  thead
                    tr
                      th
                      th Name
                      th Value
                      th Weight
                      th Quantity
                      th Properties
                      //- th Blueprint
                      if character.isActiveChar(currentUser)
                        th
                  tbody
                    each item in character.Items
                      tr(data-ref=item.id data-kind="Item")
                        td
                          label.checkbox
                            input(type="checkbox" name="item" value=item.id tabindex=1)
                            span
                        td
                          a(href="inventory/"+item.id data-response="modal" data-target="item-"+item.id data-rarity=item.rarity tabindex=2)= item.name
                        td= (Number(item.value)*item.quantity).toLocaleString()+" "+activeSystem.terms.CURRENCY || '–'
                        td
                          if Number(item.weight) == 0
                            | —
                          else
                            if item.quantity > 1
                              | #{Number(item.weight)*item.quantity}
                              | (#{Number(item.weight)})
                            else
                              | #{Number(item.weight) || '–'}
                        th= item.quantity
                        //- td= item.properties.blueprint
                        td #{Object.keys(item.properties).length}
                        if character.isActiveChar(currentUser)
                          td
                            .flex.je
                              a.btn(href="inventory/"+item.id+"/edit" data-response="modal" data-target="edit-item-"+item.id tabindex=3) Edit
                  tfoot
                    tr
                      td 
                        button.btn(formaction="inventory" formmethod="delete" data-reaction="remove") Remove
                      th Total
                      th #{meta.value.toLocaleString()} #{activeSystem.terms.CURRENCY.pluralize(meta.value)}
                      th #{meta.weight} #{activeSystem.terms.WEIGHT.pluralize(meta.weight)}
                      th
                      th
                
          
