form(name='quest' action=campaign.url+'quests/' + (quest?quest.id:'') + (parent?parent.id+'/add':'') method='post' data-response="json" data-reaction="redirect")
  .modal-content
    if parent
      .modal-title Subquest to #{parent.name}
    else if quest
      .modal-title Edit Quest
    else
      .modal-title New Quest Entry
    .modal-body
      
      .flex.vert.fill.pad
        input(type="hidden" name="parent" value=parent?parent.id:false)
        .flex.vert.center
          label Quest Name
          input.form-input(type='text' required name='name' value=quest?quest.name:false)
        if parent
          input.form-input(type="hidden" name="parent" value=parent.id)
          .flex.vert.center
            label Parent Quest
            input.form-input(type="text" disabled value=parent.name)
        .flex.vert.center
          label Description
          textarea.form-input(type='text' name='description' height=300)=quest?quest.description:''
        .flex.center
          label.checkbox
            input(type="checkbox" name="visible" checked=quest&&quest.visible)
            span Visible
        .flex.center
          label.radio
            input(type="radio" name="status" value="active" checked=quest&&quest.status=="active")
            span Active
          label.radio
            input(type="radio" name="status" value="failed" checked=quest&&quest.status=="failed")
            span Failed
          label.radio
            input(type="radio" name="status" value="complete" checked=quest&&quest.status=="complete")
            span Complete
    .modal-footer
        button.btn.block(type='submit')= quest ? 'Update Quest' : 'Add Quest'
