include /mixins/index

mixin weekday(day)
  .flex.input-group
    .flex.grow: input.form-input(type="text" name="weekdays" value=day placeholder="Weekday Name" required)
    .flex.center: a.close(data-click="remove" data-target=".input-group")

mixin month(month)
  .flex.input-group
    .flex.grow: input.form-input(type="text" name="months.$.name" value=month&&month.name||"" placeholder="Month Name" required)
    .flex.grow: input.form-input(type="number" name="months.$.days" value=month&&month.days||"" placeholder="Days in Month" required)
    .flex.center: a.close(data-click="remove" data-target=".input-group")

.tab-pane-group
  #calendar.tab-pane.active
    .tab-group
      if navigation.previous
        a.tab(href=navigation.previous.anchor data-click="tab" data-target="calendar") << 
      a.tab(data-click="tab" data-target="calendar-view").active #{calendar[0].months[0].name} – #{calendar[0].year} 
      a.tab(href=campaign.url + 'calendar' data-click="tab" data-target="calendar") Present
      if navigation.next
        a.tab(href=navigation.next.anchor data-click="tab" data-target="calendar") >> 
      if campaign.owned
        a.tab.last(data-click="tab" data-target="calendar-settings") #[i.fa.fa-gear] Settings
                  //- form(action=campaign.url, method="DELETE")
                    button.btn(type="submit") Delete
    .tab-pane-group
      #calendar-view.tab-pane.flex.vert.fill.active
        section
          .section-body
            each year in calendar
              h2= year.year
              each month in year.months
                h3: a(href=campaign.url + 'calendar/' + year.year + '/' + Common.zeropad(month.monthIndex+1,2) )= month.name
                table.calendar.month
                  thead: tr
                    each day in campaign.Calendar.weekdays
                      th= day
                  tbody
                    each week in month.weeks
                      tr.week
                        each day in week
                          td.day(class=(!day?'obscured ':'') + (day&&day.events&&day.events.length?'has-events ':'') + (day&&day.present&&'present '||''))
                            if day
                              -var slug = year.year + '/' + Common.zeropad(month.monthIndex+1,2) + '/' + Common.zeropad(day.date,2)
                              a(href=campaign.url + 'calendar/' + slug data-click="modal" data-target="event-" + slug)
                                .date-number= day&&day.date
                                .events
                                  if day.events
                                    each event in day.events
                                      .event(id="event-"+event.id)= event.name
                hr
        //- TODO: another place for the Current Date form?
        if campaign.owned
          form(action=campaign.url + 'e/present' method="post" data-response="json" data-reaction="reload")
            section: .section-body
              if campaign.Calendar.present
                label Current Date: #{campaign.Calendar.now.weekday}, #{campaign.Calendar.now.month} #{campaign.Calendar.now.date}, #{campaign.Calendar.now.year}
              .flex.horz.pad
                +dateFields(campaign.Calendar.now, campaign.Calendar, {hour:true, minute:true, end:false})
              .flex.center: button.btn Set Day

      if campaign.owned
        #calendar-settings.tab-pane.flex.vert.fill
          form(action=campaign.url + 'calendar/' method="post" data-response="json" data-reaction="redirect")
            if calendar
              section
                .section-body
                  .flex.pad: p.
                    #[strong Warning!] Modifying the total length of years of an existing calendar will affect any events you have created under that calendar.
                  .flex.center
                    label.checkbox
                      input(type="checkbox" required) 
                      span I understand
                    label.checkbox
                      input(type="checkbox" name="deletePastEvents") 
                      span Delete all existing events under this calendar
            section
              .section-body
                .flex.pad.vert
                  //- label Year Length
                  //- input.form-input(type="number" name="year_length" value=calendar&&calendar.year_length required)
                
                  label Weekdays
                  .flex.vert.pad.border#weekdays
                    if calendar
                      each day in campaign.Calendar.weekdays
                        +weekday(day)
                    else
                      +weekday()
                  
                  template#weekday_template
                    +weekday()
                  a.btn(data-click='duplicate' data-target="weekday_template" data-destination="weekdays") Add Weekday


                  label Months
                  .flex.vert.pad.border#months
                    if campaign.Calendar
                      each month in campaign.Calendar.months
                        +month(month)
                    else
                      +month()
                  
                  template#month_template
                    +month()
                  a.btn(data-click='duplicate' data-target="month_template" data-destination="months") Add Month
              .flex.center
                button.btn.block(type='submit') Submit

