include /mixins/mixins

.modal-content&attributes({class:THEME})
  .modal-title #{day.month} #{day.date}, #{day.year} – #{day.weekday}
  .modal-body
    ul
      each event in events
        li #[a(href=campaign.url + 'calendar/event/' + event.id data-response="modal")= event.name] #[label — #{event.time[0].readableTime}]

  .modal-footer
    .flex.center
      a.btn(href=campaign.url +'calendar/'+ day.slug + '/new' data-response="modal") New Event
