extends /templates/default

block title
  title #{campaign.name} Calendar
  
block header
  +header
    .header-item.page-title 
      span #{campaign.name} Calendar
    if navigation
      .header-item
        .flex.pad
          if navigation.next
            a(href=navigation.previous.anchor)= navigation.previous.name || "<<"
          a(href=campaign.url + 'calendar') Present
          if navigation.next
            a(href=navigation.next.anchor)= navigation.next.name || ">>"

mixin weekday(day)
  .flex.input-group
    .flex.grow: input.form-input(type="text" name="weekdays" value=day placeholder="Weekday Name" required)
    .flex.center: a.close(data-click="remove" data-target=".input-group")

mixin month(month)
  .flex.input-group
    .flex.grow: input.form-input(type="text" name="months.$.name" value=month&&month.name||"" placeholder="Month Name" required)
    .flex.grow: input.form-input(type="number" name="months.$.days" value=month&&month.days||"" placeholder="Days in Month" required)
    .flex.center: a.close(data-click="remove" data-target=".input-group")

block content
  .tab-group
    a.tab(data-click="tab" data-target="calendar").active Calendar
    if campaign.owned
      a.tab(data-click="tab" data-target="settings") #[i.fa.fa-gear] Settings
                //- form(action=campaign.url, method="DELETE")
                  button.btn(type="submit") Delete
  .tab-panel
    #calendar.tab-pane.flex.vert.fill.active
      if campaign.owned
        form(action=campaign.url + 'e/present' method="post" data-response="json" data-reaction="redirect")
          section: .section-body
            if campaign.Calendar.present
              label Current Date: #{campaign.Calendar.now.weekday}, #{campaign.Calendar.now.month} #{campaign.Calendar.now.date}, #{campaign.Calendar.now.year}
            .flex.horz.pad
              +dateFields(campaign.Calendar.now, campaign.Calendar, {hour:true, minute:true, end:false})
            .flex.center: button.btn Set Day
      section
        .section-body
          each year in calendar
            h2= year.year
            each month in year.months
              h3: a(href=campaign.url + 'calendar/' + year.year + '/' + Common.zeropad(month.monthIndex+1,2) )= month.name
              table.calendar.month
                thead: tr
                  each day in campaign.Calendar.weekdays
                    th= day
                tbody
                  each week in month.weeks
                    tr.week
                      each day in week
                        td.day(class=(!day?'obscured ':'') + (day&&day.events&&day.events.length?'has-events ':'') + (day&&day.present&&'present '||''))
                          if day
                            -var slug = year.year + '/' + Common.zeropad(month.monthIndex+1,2) + '/' + Common.zeropad(day.date,2)
                            a(href=campaign.url + 'calendar/' + slug data-response="modal" data-target="event-" + slug)
                              .date-number= day&&day.date
                              .events
                                if day.events
                                  each event in day.events
                                    .event(id="event-"+event.id)= event.name
              hr

    if campaign.owned
      #settings.tab-pane.flex.vert.fill
        form(action=campaign.url + 'calendar/' method="post" data-response="json" data-reaction="redirect")
          if calendar
            section
              .section-body
                .flex.pad: p.
                  #[strong Warning!] Modifying the total length of years of an existing calendar will affect any events you have created under that calendar.
                .flex.center
                  label.checkbox
                    input(type="checkbox" required) 
                    span I understand
                  label.checkbox
                    input(type="checkbox" name="deletePastEvents") 
                    span Delete all existing events under this calendar
          section
            .section-body
              .flex.pad.vert
                //- label Year Length
                //- input.form-input(type="number" name="year_length" value=calendar&&calendar.year_length required)
              
                label Weekdays
                .flex.vert.pad.border#weekdays
                  if calendar
                    each day in campaign.Calendar.weekdays
                      +weekday(day)
                  else
                    +weekday()
                
                template#weekday_template
                  +weekday()
                a.btn(data-click='duplicate' data-target="weekday_template" data-destination="weekdays") Add Weekday


                label Months
                .flex.vert.pad.border#months
                  if campaign.Calendar
                    each month in campaign.Calendar.months
                      +month(month)
                  else
                    +month()
                
                template#month_template
                  +month()
                a.btn(data-click='duplicate' data-target="month_template" data-destination="months") Add Month
            .flex.center
              button.btn.block(type='submit') Submit
