extends ../layout

block title
  title= character.name
  
block header
  +header
    .header-item.page-title 
      span= character.name

block content
  form.tab-group(action="/"+character.url+"select" method="post")
    a.tab.active Character Sheet
    if character.ownedBy(currentUser)
      a.tab(href="/"+character.url+"edit" data-response="modal" data-target="character-"+character.id+"-edit") Edit
      button.tab(disabled=character.isActiveChar(currentUser)) Select
  .content-body
    //- if character.active
    //- if !character.active
    section
      .tab-group
        a.tab.active(data-click="tab" data-target="about") About
        a.tab(href="/"+character.url+"inventory" data-click="tab" data-target="inventory") Inventory
        a.tab(href="/"+character.url+"lore" data-click="tab" data-target="lore") Lore
        a.tab(href="/"+character.url+"knowledge" data-click="tab" data-target="knowledge") Knowledge
        a.tab(href="/"+character.url+"journal" data-click="tab" data-target="lore") Journal
      .tab-panel
        #about.section-body.tab-pane.active
          .flex.vert.drop-area
            .flex.center.pad
              each image in character.Images
                .flex.vert(data-kind="Image" data-ref=image.id)
                  form(action=image.path method="delete" data-response="json" data-reaction="remove"): button.close.as-link.float
                  a(href='/' + character.url + 'images/' + image.id data-response="modal")
                    img(src=image.path draggable=false).character-portrait
            form(action='/'+character.url+'images' method="POST" enctype="multipart/form-data" data-response="json" data-reaction="redirect").flex.center.pad.grow.drop-target
              label.btn
                span Select Files
                input(type="file" name="files" accept="image/*" multiple)
              button.btn Upload
        #inventory.tab-pane.section-body
        #lore.tab-pane.section-body
        #knowledge.tab-pane
        #journal.tab-pane.section-body
          
    if !character.isActiveChar(currentUser)
      section
        .section-body
          .flex.pad.distribute
            a.close(href="/"+character.url+"relationship/new" data-response="modal" data-target="character-"+character.id+"-relate") 
              i.fa.fa-users
            a.close(href="/"+character.url+"chat" data-response="modal" data-target="character-"+character.id+"-chat")
              i.fa.fa-comments
            a.close(href="/"+character.url+"inventory/give" data-response="modal" data-target="character-"+character.id+"-give")
              i.fa.fa-gift
