extends ../layout

block title
  title Characters
  
block header
  +header
    .header-item.page-title
      span Characters
    if campaign
      .header-item
        a(href="/c/"+campaign.url)= campaign.name

block content
  .content-body
    for character in characters
      section
        .section-title
          .float.left
            a(href=character.uri)= character.name
          .float.right
            .timestamp= character.updatedAt.toLocaleString()
        if character.Campaign
          .section-body
            a(href="/c/"+character.Campaign.url)= character.Campaign.name
        .section-footer
          .flex.pad
            //- if character.isActiveChar(currentUser)
              .flex.vert.border.pad
                .flex.center: label Active Actions
                .flex.center
                  form(action=character.uri+"/select" method="post")
                    button.btn Select
            if character.ownedBy(currentUser)
              .flex.vert.border.pad
                .flex.center: label Owned Actions
                .flex.center.pad
                  form(action=character.uri+"/select" method="post")
                    button.btn(disabled=character.isActiveChar(currentUser)) Select
                  a.btn(action=character.uri+"/edit" data-response="modal") Edit
            +charActive(character,false)
              .flex.vert.border.pad
                .flex.center: label Interactions
                .flex.center.pad
                  a.btn(href=character.uri+"/relationship/new" data-response="modal") Relate
                  a.btn(href=character.uri+"/chat" data-response="modal") Chat
